################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/WebApplication1
/WebApplication1Tests
/WebApplication1/bin/Debug/net6.0
/WebApplication1/obj
